@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .aboutMe {
        &__wrapper {
            padding-right: 0;
        }
        &__grid-container {
            grid-template-columns: repeat(2, 245px);
            
            gap: 20px;
            margin-left: 0;
        }  
    }
    .resume {
        &__wrapper {
            padding: 0;
            grid-template-columns: repeat(2,430px);
            gap: 0 100px;
        }
    }
    .skills {
        &__wrapper {
            padding: 0;
            grid-template-columns: repeat(3,270px);
            justify-content: center;
        }
        &__progress {
            grid-template-columns: repeat(3, 300px);
            gap: 30px;
            &-item {
                grid-template-columns: auto 35px;
            }
            &-line {
                width: 100%;
            }
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: center;
            .horizontal, .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .contacts {
        &__wrapper {
            padding: 0;
            grid-template-columns: 320px 575px;
        }
        &__photo {
            width: 320px;
            height: 520px;
        }
        &__form {
            row-gap: 22px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 60%/cover;
    }
    .aboutMe {
        &__wrapper {
            padding-top: 100px;
        }
        &__title {
            font-size: 30px;
        }
        &__photo {
            width: 320px;
            height: 520px;
        }
        &__grid-container {
            grid-template-columns: 370px;
            grid-template-rows: repeat(3, minmax(80px, auto));
            grid-auto-rows: minmax(80px, auto);
            grid-template-areas: 
            "header"
            "web"
            "mobile"
            "design";
        }
        &__descr {
            margin-bottom: 0;
        }
    }
    .resume {
        padding-top: 100px;
        &__wrapper {
            grid-template-columns: repeat(2,336px);
            gap: 0 50px;
        }
    }
    .title {
        &__section-title {
            &::after {
                margin-bottom: 50px;
            }
        }
    }
    .title__section-title {
        font-size: 30px;
    }
    .skills {
        padding-top: 100px;
        &__wrapper {
            padding: 0;
            grid-template-columns: repeat(2,270px);
            justify-content: center;
            gap: 20px;
        }
        &__progress {
            margin-top: 100px;
            grid-template-columns: repeat(2, 300px);
            justify-content: center;
            gap: 40px;
        }
    }
    .portfolio {
        padding-top: 100px;
    }
    .price {
        &__wrapper {
            padding: 0;
            grid-template-columns: repeat(auto-fit, 350px);
        }
        .title__section-suptitle {
            &::after {
                margin: 34px auto 50px;
            }
        }
    }
    .contacts {
        padding: 100px 0 50px 0;
        &__title {
            font-size: 30px;
        }
        &__wrapper {
            grid-template-columns: 320px 380px;
            column-gap: 20px;
        }
        &__form {
            grid-template: repeat(2, 45px) 122px 45px/auto;
        }
        &__textarea {
            grid-column: unset;
        }
        &__triggers {
            grid-column: unset;
            column-gap: 20px;
            button {
                padding: 0 25px;
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 30px;
        }
    }
    .promo {
        &__title {
            width: 320px;
            line-height: 39px;
        }
    }
    .aboutMe {
        &__wrapper {
            padding-top: 40px;
            display: block;
        }
        &__photo {
            width: 300px;
            height: 340px;
            margin: 0 auto;
        }
        &__grid-container {
            padding-top: 46px;
            grid-template-columns: repeat(2, 260px);
            grid-template-rows: repeat(3, auto);
            grid-template-areas: 
            "header header"
            "web mobile"
            "design design";
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: auto;
            row-gap: 40px;
        }
    }
    .skills {
        &__wrapper {
            gap: 10px;
        }
        &__progress {
            grid-template-columns: 350px;
        }
    }
    .price {
        &__wrapper {
            grid-template-columns: repeat(auto-fit,370px);
            justify-content: center;
            row-gap: 20px;
        }
        .title__section-suptitle {
            &::after {
                margin-bottom: 40px;
            }
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 1fr;
            justify-items: center;
        }
        &__photo {
            display: none;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
    }
    .promo {
        &__title {
            width: 300px;
            line-height: 39px;
        }
        &__btns {
            margin-top: 32px;
        }
    }
    .hamburger {
        right: 20px;
        position: absolute;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .aboutMe {
        &__suptitle {
            margin-bottom: 26px;
        }
        &__title {
            font-size: 24px;
            line-height: 36px;
            &::after {
                margin-top: 16px;
            }
        }
        &__grid-container {
            grid-template-columns: 100%;
            grid-template-areas: 
            "header"
            "web"
            "mobile"
            "design";
        }
    }
    .resume {
        padding-top: 45px;
        &__item {
            &-head {
                &_second {
                    padding-top: 10px;
                    .resume__item-icon {
                        top: 26px;
                    }
                }
            }
            &-second {
                &::before {
                    top: 30px;
                }
            }
            &-body {
                margin-top: 10px;
            }
        }
    }
    .title {
        &__section-title {
            font-size: 24px;
            line-height: 36px;
            margin-top: 26px;
            &::after {
                margin: 15px auto 40px;
            }
        }
    }
    .skills {
        padding-top: 45px;
        &__title {
            &::after {
                margin-bottom: 20px;
            }
        }
        &__wrapper {
            grid-template-columns: 270px;
            gap: 20px;
        }
        &__progress {
            margin-top: 40px;
            grid-template-columns: 300px;
        }
    }
    .portfolio {
        padding-top: 45px;
    }
    .price {
        padding-top: 46px;
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 295px);
        }
        .title__section-suptitle {
            &::after {
                margin: 21px auto 20px;
            }
        }
    }
    .contacts {
        padding-top: 46px;
        &__title {
            margin-top: 26px;
            font-size: 24px;
            line-height: 36px;
            &::after {
                margin-top: 15px;
            }
        }
        &__descr {
            padding: 0;
        }
        &__form {
            grid-template: repeat(2,45px) 143px auto / 1fr;
            gap: 27px 0;
            justify-content: start;
        }
        &__triggers {
            grid-template-columns: auto;
            row-gap: 20px;
        }
        &__policy {
            grid-row: 1 / 2;
        }
    }
}