.policy {
    padding: 30px 0;
    h2 {
        margin-bottom: 30px;
    }
    h3 {
        margin: 20px 0 24px 0;
    }
    .long {
        width: 100%;
    }
    .short {
        margin: 0 0 16px 40px;
    }
    p {
        font-size: 16px;
        line-height: 1.8;
    }
}