.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/main_bg.jpg') no-repeat 50%/cover;
    padding-top: 205px;
    &__suptitle {
        position: relative;
        padding-left: 10px;
        color: #fff;
        z-index: 2;
        @include before_circle;
    }
    &__title {
        color: #fff;
        width: 535px;
        margin-top: 10px;
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        width: 240px;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        color: #fff;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        transition: all 1s;
        &:hover {
            color: $main-color;
            text-decoration: none;
        }
    }
    &__link.btn:hover {
        color:black;
    }
}