.resume {
    padding-top: 120px;
    &__wrapper {
        padding: 0 89px 0 65px;
        display: grid;
        grid-template-columns: repeat(2, 425px);
        gap: 0 135px;
    }
    &__column {
        &-title {
            position: relative;
            padding-left: 35px;
            &::before {
                content: "";
                display: block;
                position: absolute;
                width: 15px;
                height: 15px;
                background: $main-color;
                border-radius: 100%;
                left: -7px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        ul {
            list-style-type: none;
            li {
                position: relative;
                &::after {
                    content: "";
                    width: 1px;
                    height: calc(100% + 8px);
                    position: absolute;
                    top: -8px;
                    left: 0;
                    background-color: black;
                }
            }
        }
    }
    &__item {
        position: relative;
        &::before {
            content: "";
            display: block;
            position: absolute;
            height: 1px;
            width: 43px;
            top: 63px;
            background: black;
        }
        &-head {
            position: relative;
            padding: 45px 0 0 100px;
        }
        &-body {
            padding-left: 43px;
            margin-top: 12px;
            font-size: 12px;
            line-height: 18px;
        }
        &-icon {
            position: absolute;
            top: 58px;
            left: 60px;
            @include before_circle;
            &::before {
                top: -13px;
                left: -17px;
            }
        }
        &-location {
            font-size: 12px;
            line-height: 18px;
        }
    }
}